<div class="flex flex-col w-full max-w-screen-xl mx-auto p-6 md:p-8">
  <!-- <blockquote class="p-4 border-l-4 border-gray-300 bg-gray-50 dark:border-gray-500 dark:bg-gray-800">
    <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-gray-200">
      Op deze pagina krijg je overzicht van al je uitgaven, inkomens, gemiddeldes, maandelijkse vergelijking,
      voorspellingen en waarschuwingen indien je over je budget gaat.
    </p>
  </blockquote> -->
  <div class="flex items-center justify-between w-full">
    <div>
      <div class="text-3xl font-semibold tracking-tight leading-8">
        Overzicht
      </div>
      <div class="font-medium tracking-tight text-secondary">
        Monitor je netto-waarde, check de gezondheid van je portefeuille and volg de loop van je budget op
      </div>
    </div>
    <div class="flex items-center ml-6">
      <button
        class="bg-lynch-500 text-white rounded-full px-1 px-5 h-10 disabled:bg-gray-300 border-none hover:bg-lynch-600"
        tabindex="0" title="Exporteer">
        <i class="far fa-file-export"></i>
        <span class="hidden md:inline-flex">Exporteer</span>
      </button>
    </div>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 w-full mt-8">
    <div class="flex flex-col flex-auto bg-gray-800 dark text-white shadow rounded-2xl overflow-hidden
          dark:shadow-none sm:col-span-2 lg:col-span-3" *ngIf="networth_history">
      <div class="flex items-center justify-between mt-10 ml-10 mr-6 sm:mr-10">
        <div class="flex flex-col">
          <div class="mr-4 text-2xl md:text-3xl font-semibold tracking-tight leading-7">Nettowaarde historie</div>
          <div class="font-medium text-secondary">Nettowaarde evolutie over een periode van 1 jaar</div>
        </div>
        <div class="ml-2">
          <div class="space-x-1 rounded-full overflow-hidden border-none font-medium">
            <div class="inline-flex relative font-medium border-none">
              <button class="text-gray-400 rounded-full px-6 h-10 border-none disabled:bg-gray-300 hover:bg-gray-700"
                [ngClass]="{ 'text-gray-50 bg-gray-700': activeSegment === 'previous' }"
                (click)="activateSegment('previous')" *ngIf="hasPreviousSegment">
                Vorig jaar
              </button>
            </div>
            <div class="inline-flex relative font-medium border-none">
              <button class="text-gray-400 rounded-full px-6 h-10 border-none disabled:bg-gray-300 hover:bg-gray-700"
                [ngClass]="{ 'text-gray-50 bg-gray-700': activeSegment === 'current' }"
                (click)="activateSegment('current')" *ngIf="hasCurrentSegment">
                Dit jaar
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col flex-auto h-80 mt-6">
        <apx-chart class="flex-auto w-full h-full" [series]="networth_history.options.series"
          [xaxis]="networth_history.options.xaxis" [yaxis]="networth_history.options.yaxis"
          [stroke]="networth_history.options.stroke" [dataLabels]="networth_history.options.dataLabels"
          [colors]="networth_history.options.colors" [grid]="networth_history.options.grid"
          [legend]="networth_history.options.legend" [fill]="networth_history.options.fill"
          [tooltip]="networth_history.options.tooltip" [chart]="networth_history.options.chart">
        </apx-chart>
      </div>
    </div>

    <div class="flex flex-col flex-auto bg-white shadow rounded-2xl overflow-hidden dark:bg-gray-800 dark:shadow-none
          sm:col-span-2 lg:col-span-1" *ngIf="incomeVsBudget">
      <div class="flex items-start justify-between m-6 mb-0">
        <div class="text-lg font-medium tracking-tight leading-6 truncate">Inkomen reël vs budget</div>
        <div class="ml-2">
          <div
            class="h-6 min-h-6 px-2 rounded-full cursor-pointer bg-gray-100 hover:bg-gray-200 dark:bg-gray-700 dark:hover:bg-gray-600"
            [matMenuTriggerFor]="activeusersTimespanSelection">
            <span class="font-medium text-sm text-secondary">1 maand</span>
          </div>

          <mat-menu class="shadow-2xl bg-white dark:bg-gray-900 rounded" #activeusersTimespanSelection>
            <ng-template matMenuContent>
              <button class="rounded dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600" mat-menu-item>
                1 maand
              </button>
              <button class="rounded dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600" mat-menu-item>
                3 maanden
              </button>
              <button class="rounded dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600" mat-menu-item>
                1 jaar
              </button>
            </ng-template>
          </mat-menu>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row lg:items-center mx-6 mt-3">
        <div class="text-7xl font-bold tracking-tighter leading-tight">
          {{ incomeVsBudget.current | currency:'EUR':'symbol-narrow':'1.2-2':culture }}
        </div>
        <div class="flex lg:flex-col lg:ml-3">
          <i class="far text-lg" [ngClass]="{ 'text-red-500 fa-chart-line-down': incomeVsBudget.pos == 0, 'text-green-500 fa-chart-line': incomeVsBudget.pos == 1
                }"></i>
          <div class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary">
            <span class="font-medium"
              [ngClass]="{ 'text-red-500': incomeVsBudget.pos == 0, 'text-green-500': incomeVsBudget.pos == 1 }">{{
              incomeVsBudget.result | percent
              }}</span>
            <span class="ml-1" *ngIf="incomeVsBudget.pos == 0">onder doelstelling</span>
            <span class="ml-1" *ngIf="incomeVsBudget.pos == 1">boven doelstelling</span>
          </div>
        </div>
      </div>
      <div class="flex flex-col flex-auto h-20">
        <!-- show 7 days excluding today in this chart when timespan is 1 maand -->
        <!-- show 4 weeks excluding this week in this chart when timespan is 3 maanden -->
        <!-- show 6 months excluding this month in this chart when timespan is 1 jaar -->
        <apx-chart class="flex-auto w-full h-full" [series]="incomeVsBudget.options.series"
          [xaxis]="incomeVsBudget.options.xaxis" [yaxis]="incomeVsBudget.options.yaxis"
          [chart]="incomeVsBudget.options.chart" [stroke]="incomeVsBudget.options.stroke"
          [dataLabels]="incomeVsBudget.options.dataLabels" [colors]="incomeVsBudget.options.colors"
          [grid]="incomeVsBudget.options.grid" [legend]="incomeVsBudget.options.legend"
          [tooltip]="incomeVsBudget.options.tooltip">
        </apx-chart>
      </div>
    </div>

    <div class="flex flex-col flex-auto bg-white shadow rounded-2xl overflow-hidden dark:bg-gray-800 dark:shadow-none
          sm:col-span-2 lg:col-span-1" *ngIf="expensesVsBudget">
      <div class="flex items-start justify-between m-6 mb-0">
        <div class="text-lg font-medium tracking-tight leading-6 truncate">Uitgaven reël vs budget</div>
        <div class="ml-2">
          <div
            class="h-6 min-h-6 px-2 rounded-full cursor-pointer bg-gray-100 hover:bg-gray-200 dark:bg-gray-700 dark:hover:bg-gray-600"
            [matMenuTriggerFor]="expensesVsBudgetTimespanSelection">
            <span class="font-medium text-sm text-secondary">1 maand </span>
          </div>

          <mat-menu class="shadow-2xl bg-white dark:bg-gray-900 rounded" #expensesVsBudgetTimespanSelection>
            <ng-template matMenuContent>
              <button class="rounded dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600" mat-menu-item>
                1 maand
              </button>
              <button class="rounded dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600" mat-menu-item>
                3 maanden
              </button>
              <button class="rounded dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600" mat-menu-item>
                1 jaar
              </button>
            </ng-template>
          </mat-menu>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row lg:items-center mx-6 mt-3">
        <div class="text-7xl font-bold tracking-tighter leading-tight">
          {{ expensesVsBudget.current | currency:'EUR':'symbol-narrow':'1.2-2':culture }}
        </div>
        <div class="flex lg:flex-col lg:ml-3">
          <i class="far text-lg" [ngClass]="{ 'text-red-500 fa-chart-line-down': expensesVsBudget.pos == 0, 'text-green-500 fa-chart-line':
                expensesVsBudget.pos == 1
                }"></i>
          <div class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary">
            <span class="font-medium"
              [ngClass]="{ 'text-red-500': expensesVsBudget.pos == 0, 'text-green-500': expensesVsBudget.pos == 1 }">
              {{ expensesVsBudget.result | percent }}
            </span>
            <span class="ml-1" *ngIf="expensesVsBudget.pos == 0">onder doelstelling</span>
            <span class="ml-1" *ngIf="expensesVsBudget.pos == 1">boven doelstelling</span>
          </div>
        </div>
      </div>
      <div class="flex flex-col flex-auto h-20">
        <apx-chart class="flex-auto w-full h-full" [series]="expensesVsBudget.options.series"
          [xaxis]="expensesVsBudget.options.xaxis" [yaxis]="expensesVsBudget.options.yaxis"
          [chart]="expensesVsBudget.options.chart" [stroke]="expensesVsBudget.options.stroke"
          [dataLabels]="expensesVsBudget.options.dataLabels" [colors]="expensesVsBudget.options.colors"
          [grid]="expensesVsBudget.options.grid" [legend]="expensesVsBudget.options.legend"
          [tooltip]="expensesVsBudget.options.tooltip">
        </apx-chart>
      </div>
    </div>

    <div class="flex flex-col flex-auto bg-white shadow rounded-2xl overflow-hidden dark:bg-gray-800 dark:shadow-none
          sm:col-span-2 lg:col-span-1" *ngIf="balanceVsNetworthDiff">
      <div class="flex items-start justify-between m-6 mb-0">
        <div class="text-lg font-medium tracking-tight leading-6 truncate">Yee</div>
        <div class="ml-2">
          <div
            class="h-6 min-h-6 px-2 rounded-full cursor-pointer bg-gray-100 hover:bg-gray-200 dark:bg-gray-700 dark:hover:bg-gray-600"
            [matMenuTriggerFor]="registrationsTimespanSelection">
            <span class="font-medium text-sm text-secondary">1 maand</span>
          </div>

          <mat-menu class="shadow-2xl bg-white dark:bg-gray-900 rounded" #registrationsTimespanSelection>
            <ng-template matMenuContent>
              <button class="rounded dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600" mat-menu-item>
                1 maand
              </button>
              <button class="rounded dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600" mat-menu-item>
                3 maanden
              </button>
              <button class="rounded dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600" mat-menu-item>
                1 jaar
              </button>
            </ng-template>
          </mat-menu>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row lg:items-center mx-6 mt-3">
        <div class="text-7xl font-bold tracking-tighter leading-tight">
          {{ balanceVsNetworthDiff.current | currency:'EUR':'symbol-narrow':'1.2-2':culture }}
        </div>
        <div class="flex lg:flex-col lg:ml-3">
          <i class="far text-lg" [ngClass]="{ 'text-red-500 fa-chart-line-down': balanceVsNetworthDiff.pos == 0, 'text-green-500 fa-chart-line':
                balanceVsNetworthDiff.pos
                == 1 }"></i>
          <div class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary">
            <span class="font-medium"
              [ngClass]="{ 'text-red-500': balanceVsNetworthDiff.pos == 0, 'text-green-500': balanceVsNetworthDiff.pos == 1 }">{{
              balanceVsNetworthDiff.result | percent }}</span>
            <span class="ml-1" *ngIf="balanceVsNetworthDiff.pos == 0">onder doelstelling</span>
            <span class="ml-1" *ngIf="balanceVsNetworthDiff.pos == 1">boven doelstelling</span>
          </div>
        </div>
      </div>
      <div class="flex flex-col flex-auto h-20">
        <apx-chart class="flex-auto w-full h-full" [series]="balanceVsNetworthDiff.options.series"
          [xaxis]="balanceVsNetworthDiff.options.xaxis" [yaxis]="balanceVsNetworthDiff.options.yaxis"
          [chart]="balanceVsNetworthDiff.options.chart" [stroke]="balanceVsNetworthDiff.options.stroke"
          [dataLabels]="balanceVsNetworthDiff.options.dataLabels" [colors]="balanceVsNetworthDiff.options.colors"
          [grid]="balanceVsNetworthDiff.options.grid" [legend]="balanceVsNetworthDiff.options.legend"
          [tooltip]="balanceVsNetworthDiff.options.tooltip">
        </apx-chart>
      </div>
    </div>
  </div>

  <div *ngIf="visitorsvsviews"
    class="flex flex-col flex-auto mt-8 bg-white shadow rounded-2xl overflow-hidden dark:bg-gray-800 dark:shadow-none">
    <div class="flex items-start justify-between m-6 mb-0">
      <div class="text-lg font-medium tracking-tight leading-6 truncate">
        Visitors vs. Product Views
      </div>
      <div class="ml-2">
        <div
          class="h-6 min-h-6 px-2 rounded-full cursor-pointer bg-gray-100 hover:bg-gray-200 dark:bg-gray-700 dark:hover:bg-gray-600"
          [matMenuTriggerFor]="visitorsvsviewsTimespanSelection">
          <span class="font-medium text-sm text-secondary">60 days</span>
        </div>

        <mat-menu class="shadow-2xl bg-white dark:bg-gray-900 rounded" #visitorsvsviewsTimespanSelection>
          <ng-template matMenuContent>
            <button class="rounded dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600" mat-menu-item>
              60 days
            </button>
            <button class="rounded dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600" mat-menu-item>
              120 days
            </button>
            <button class="rounded dark:text-white hover:bg-gray-100 dark:hover:bg-gray-600" mat-menu-item>
              180 days
            </button>
          </ng-template>
        </mat-menu>
      </div>
    </div>
    <div class="flex items-start mt-6 mx-6">
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-8 sm:gap-12">
        <div class="flex flex-col">
          <div class="flex items-center">
            <div class="font-medium text-secondary leading-5">
              Overall Score
            </div>
            <i class="fas fa-info-circle text-md text-secondary ml-1.5" title="description"></i>
          </div>
          <div class="flex items-start mt-2">
            <div class="text-4xl font-bold tracking-tight leading-none">
              732
            </div>
            <div class="flex items-center ml-2">
              <i class="fas fa-arrow-circle-up text-green-500 text-lg"></i>
              <div class="ml-1 text-md font-medium text-green-500">
                42.9%
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex items-center">
            <div class="font-medium text-secondary leading-5">
              Average Ratio
            </div>
            <i class="fas fa-info-circle text-md text-secondary ml-1.5" title="description"></i>
          </div>
          <div class="flex items-start mt-2">
            <div class="text-4xl font-bold tracking-tight leading-none">
              42%
            </div>
            <div class="flex items-center ml-2">
              <i class="fas fa-arrow-circle-down text-red-500 text-lg"></i>
              <div class="ml-1 text-md font-medium text-red-500">
                13.4%
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex items-center">
            <div class="font-medium text-secondary leading-5">
              Predicted Ratio
            </div>
            <i class="fas fa-info-circle text-md text-secondary ml-1.5" title="description"></i>
          </div>
          <div class="flex items-start mt-2">
            <div class="text-4xl font-bold tracking-tight leading-none">
              53%
            </div>
            <div class="flex items-center ml-2">
              <i class="fas fa-arrow-circle-up text-green-500 text-lg"></i>
              <div class="ml-1 text-md font-medium text-green-500">
                11.1%
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col flex-auto h-80 mt-3">
      <apx-chart class="flex-auto w-full h-full" [series]="visitorsvsviews.options.series"
        [xaxis]="visitorsvsviews.options.xaxis" [yaxis]="visitorsvsviews.options.yaxis"
        [chart]="visitorsvsviews.options.chart" [stroke]="visitorsvsviews.options.stroke"
        [dataLabels]="visitorsvsviews.options.dataLabels" [colors]="visitorsvsviews.options.colors"
        [grid]="visitorsvsviews.options.grid" [legend]="visitorsvsviews.options.legend"
        [tooltip]="visitorsvsviews.options.tooltip"></apx-chart>
    </div>
  </div>

  <div class="w-full mt-12" *ngIf="demoGraphics.length > 0">
    <div class="text-2xl font-semibold tracking-tight leading-6">
      Leuke donuts
    </div>
    <div class="font-medium tracking-tight text-secondary">
      Demografische eigenschappen van jouw inkomsten en uitgaven, deze maand alsook de vorige
    </div>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 w-full mt-6 md:mt-8">
    <div
      class="flex flex-col bg-white shadow rounded-2xl overflow-hidden p-6 h-[fit-content] dark:bg-gray-800 dark:shadow-none"
      *ngFor="let item of demoGraphics">
      <div class="flex items-start justify-between">
        <div class="text-lg font-medium tracking-tight leading-6 truncate">
          {{ item.name }}
        </div>
      </div>
      <div class="flex flex-col mt-6 h-44">
        <apx-chart class="flex flex-auto items-center justify-center w-full h-full" [series]="item.options.series"
          [chart]="item.options.chart" [dataLabels]="item.options.dataLabels" [colors]="item.options.colors"
          [labels]="item.options.labels" [states]="item.options.states" [plotOptions]="item.options.plotOptions"
          [legend]="item.options.legend" [fill]="item.options.fill" [stroke]="item.options.stroke"
          [tooltip]="item.options.tooltip">
        </apx-chart>
      </div>
      <div class="mt-8">
        <div class="-my-3 divide-y">
          <div class="grid grid-cols-4 py-3" *ngFor="let group of item.groups | slice:0:5">
            <div class="col-span-2 flex items-center">
              <div class="flex-0 w-2 h-2 rounded-full" [style.background]="group.color"></div>
              <div class="ml-3 truncate">{{ group.label }}</div>
            </div>
            <div class="font-medium text-right">{{ group.value | currency:'EUR':'symbol-narrow':'1.2-2':culture }}
            </div>
            <div class="text-right text-secondary">{{ group.percentage | percent:'1.1-1' }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>