<div class="w-full py-10 px-5">
  <div class="flex flex-col flex-auto space-y-4">
    <div class="flex flex-col item-center justify-center" *ngIf="loading">
      <div class="mx-auto">
        <i class="fal fa-fw fa-2x fa-spin fa-circle-notch"></i> Budget ophalen van server...
      </div>
    </div>
    <div class="flex flex-col px-2 md:flex-row mb-4 gap-4" *ngIf="!loading">
      <div id="incomes" class="w-full">
        <div class="flex justify-between min-h-[40px]">
          <div class="flex justify-between items-center">
            <div class="text-4xl font-medium">
              Inkomen
            </div>
          </div>
          <div class="flex flex-col items-start sm:flex-row sm:space-x-4 shrink-0">
            <button
              class="bg-lynch-500 text-white rounded-full px-1 px-5 h-10 disabled:bg-gray-300 border-none hover:bg-lynch-600"
              tabindex="0" title="Inkomen aanmaken" (click)="beginCreate(0)" [disabled]="isCreatingIncome">
              <i class="far fa-plus"></i>&nbsp;
              <span class="hidden md:inline-flex">Inkomen toevoegen</span>
            </button>
          </div>
        </div>

        <div *ngIf="incomes.length > 0"
          class="flex flex-col flex-auto bg-white dark:bg-gray-800 overflow-hidden sm:overflow-y-auto mt-12 dark:text-white">
          <div class="flex flex-row px-4 py-3 font-bold bg-gray-200 dark:text-gray-300 dark:bg-gray-700">
            <div class="flex-auto">
              Categorie
            </div>
            <div class="w-24 text-right">
              Bedrag
            </div>
            <div class="w-12">
              &nbsp;
            </div>
          </div>

          <ng-container *ngFor="let income of incomes">
            <div class="flex flex-row items-center px-4 py-2 border-b dark:text-gray-400 last:border-0">
              <div class="flex-auto">
                <span class="text-black dark:text-white">{{ income.name }}</span>
              </div>
              <div class="w-24 text-right">
                {{ income.value | currency:'EUR':'symbol-narrow':'1.2-2':culture }}
              </div>
              <div class="w-12">
                <button class="flex justify-center items-center ml-2 w-10 h-10 rounded-full cursor-pointer bg-gray-100
                  hover:bg-gray-200 dark:bg-gray-700 dark:hover:bg-gray-600" (click)="edit(0, income)">
                  <span class="font-medium text-sm dark:text-white">
                    <i class="far text-lg dark:text-gray-400"
                      [ngClass]="{ 'fa-angle-up': income.editing, 'fa-angle-down': !income.editing }"></i>
                  </span>
                </button>
              </div>
            </div>
            <div id="editor" class="grid" *ngIf="income.editing && form['0-' + income.id] !== undefined">
              <div class="shadow-lg overflow-hidden">
                <div class="flex border-b">
                  <form class="flex flex-col w-full" [formGroup]="form['0-' + income.id]" (submit)="save(0, income)">
                    <div class="flex flex-col sm:flex-row p-8">
                      <div class="flex flex-col items-center sm:items-start mb-8 sm:mb-0">
                      </div>
                      <div class="flex flex-auto flex-wrap space-y-4 lg:space-y-0">
                        <div class="flex flex-col w-full space-y-4 lg:w-1/2 sm:pl-8">
                          <div class="flex flex-col space-y-2">
                            <h3 class="text-md font-bold text-black dark:text-white">Naam *</h3>
                            <input
                              class="bg-white border border-gray-200 text-md text-md px-4 h-12 leading-6 rounded-md outline-none dark:bg-transparent dark:border-gray-500 dark:text-white focus:border-accent disabled:bg-gray-300 disabled:border-transparent focus:invalid:border-danger invalid:border-danger"
                              formControlName="name" type="text" required>
                          </div>
                        </div>
                        <div class="flex flex-col w-full space-y-4 lg:w-1/2 sm:pl-8">
                          <div class="flex flex-col space-y-2">
                            <h3 class="text-md font-bold text-black dark:text-white">Waarde *</h3>
                            <input
                              class="bg-white border border-gray-200 text-md text-md px-4 h-12 leading-6 rounded-md outline-none dark:bg-transparent dark:border-gray-500 dark:text-white focus:border-accent disabled:bg-gray-300 disabled:border-transparent focus:invalid:border-danger invalid:border-danger"
                              formControlName="value" type="number" step="0.01" required>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="flex items-center justify-between w-full border-t px-8 py-4">
                      <button
                        class="text-red-600 border-none rounded-full h-10 px-5 hover:bg-red-100 dark:hover:bg-gray-900"
                        type="button" (click)="delete(0, income)">
                        <i class="fal text-lg fa-trash fa-fw"></i> Verwijderen
                      </button>
                      <div>&nbsp;
                      </div>
                      <button class="bg-lynch-500 text-white border-none rounded-full h-10 px-5 hover:bg-lynch-600"
                        type="submit">
                        <ng-template [ngIf]="income.id <= 0">
                          <i class="fal text-lg fa-plus fa-fw"></i> Aanmaken
                        </ng-template>
                        <ng-template [ngIf]="income.id > 0">
                          <i class="fal text-lg fa-save fa-fw"></i> Opslaan
                        </ng-template>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </ng-container>

          <div class="flex flex-row items-center px-4 py-2 dark:text-gray-400">
            <div class="flex-auto">
              <span class="font-bold text-black dark:text-white">Totale Inkomsten</span>
            </div>
            <div class="w-24 text-right">
              {{ incomesValue | currency:'EUR':'symbol-narrow':'1.2-2':culture }}
            </div>
            <div class="w-12 h-10">
              &nbsp;
            </div>
          </div>
        </div>

        <div class="mt-4" *ngIf="!incomes || incomes.length === 0">
          <blockquote class="p-4 border-l-4 mx-2 border-gray-300 bg-gray-50 dark:border-gray-500 dark:bg-gray-800">
            <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-gray-200">
              Je hebt nog geen inkomen toegevoegd aan je budget, voeg een inkomen categorie toe door op de knop
              'Inkomen toevoegen' te klikken.
            </p>
          </blockquote>
        </div>
      </div>
      <div id="expenses" class="w-full">
        <div class="flex justify-between min-h-[40px]">
          <div class="flex justify-between items-center">
            <div class="text-4xl font-medium">
              Uitgaven
            </div>
          </div>
          <div class="flex flex-col items-start sm:flex-row sm:space-x-4 shrink-0">
            <button
              class="bg-lynch-500 text-white rounded-full px-1 px-5 h-10 disabled:bg-gray-300 border-none hover:bg-lynch-600"
              tabindex="0" title="Uitgave aanmaken" (click)="beginCreate(1)" [disabled]="isCreatingExpense">
              <i class="far fa-plus"></i>&nbsp;
              <span class="hidden md:inline-flex">Uitgave toevoegen</span>
            </button>
          </div>
        </div>

        <div *ngIf="expenses.length > 0"
          class="flex flex-col flex-auto bg-white dark:bg-gray-800 overflow-hidden sm:overflow-y-auto mt-12 dark:text-white">
          <div class="flex flex-row px-4 py-3 font-bold bg-gray-200 dark:text-gray-300 dark:bg-gray-700">
            <div class="flex-auto">
              Categorie
            </div>
            <div class="w-24 text-right">
              Bedrag
            </div>
            <div class="w-12">
              &nbsp;
            </div>
          </div>

          <ng-container *ngFor="let expense of expenses">
            <div class="flex flex-row items-center px-4 py-2 border-b dark:text-gray-400 last:border-0">
              <div class="flex-auto">
                <span class="text-black dark:text-white">{{ expense.name }}</span>
              </div>
              <div class="w-24 text-right">
                {{ expense.value | currency:'EUR':'symbol-narrow':'1.2-2':culture }}
              </div>
              <div class="w-12">
                <button class="flex justify-center items-center ml-2 w-10 h-10 rounded-full cursor-pointer bg-gray-100
                  hover:bg-gray-200 dark:bg-gray-700 dark:hover:bg-gray-600" (click)="edit(1, expense)">
                  <span class="font-medium text-sm dark:text-white">
                    <i class="far text-lg dark:text-gray-400"
                      [ngClass]="{ 'fa-angle-up': expense.editing, 'fa-angle-down': !expense.editing }"></i>
                  </span>
                </button>
              </div>
            </div>
            <div id="editor" class="grid" *ngIf="expense.editing && form['1-' + expense.id] !== undefined">
              <div class="shadow-lg overflow-hidden">
                <div class="flex border-b">
                  <form class="flex flex-col w-full" [formGroup]="form['1-' + expense.id]" (submit)="save(1, expense)">
                    <div class="flex flex-col sm:flex-row p-8">
                      <div class="flex flex-col items-center sm:items-start mb-8 sm:mb-0">
                      </div>
                      <div class="flex flex-auto flex-wrap space-y-4 lg:space-y-0">
                        <div class="flex flex-col w-full space-y-4 lg:w-1/2 sm:pl-8">
                          <div class="flex flex-col space-y-2">
                            <h3 class="text-md font-bold text-black dark:text-white">Naam *</h3>
                            <input
                              class="bg-white border border-gray-200 text-md text-md px-4 h-12 leading-6 rounded-md outline-none dark:bg-transparent dark:border-gray-500 dark:text-white focus:border-accent disabled:bg-gray-300 disabled:border-transparent focus:invalid:border-danger invalid:border-danger"
                              formControlName="name" type="text" required>
                          </div>
                        </div>
                        <div class="flex flex-col w-full space-y-4 lg:w-1/2 sm:pl-8">
                          <div class="flex flex-col space-y-2">
                            <h3 class="text-md font-bold text-black dark:text-white">Waarde *</h3>
                            <input
                              class="bg-white border border-gray-200 text-md text-md px-4 h-12 leading-6 rounded-md outline-none dark:bg-transparent dark:border-gray-500 dark:text-white focus:border-accent disabled:bg-gray-300 disabled:border-transparent focus:invalid:border-danger invalid:border-danger"
                              formControlName="value" type="number" step="0.01" required>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="flex items-center justify-between w-full border-t px-8 py-4">
                      <button
                        class="text-red-600 border-none rounded-full h-10 px-5 hover:bg-red-100 dark:hover:bg-gray-900"
                        type="button" (click)="delete(1, expense)">
                        <i class="fal text-lg fa-trash fa-fw"></i> Verwijderen
                      </button>
                      <div>&nbsp;
                      </div>
                      <button class="bg-lynch-500 text-white border-none rounded-full h-10 px-5 hover:bg-lynch-600"
                        type="submit">
                        <ng-template [ngIf]="expense.id <= 0">
                          <i class="fal text-lg fa-plus fa-fw"></i> Aanmaken
                        </ng-template>
                        <ng-template [ngIf]="expense.id > 0">
                          <i class="fal text-lg fa-save fa-fw"></i> Opslaan
                        </ng-template>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </ng-container>

          <div class="flex flex-row items-center px-4 py-2 dark:text-gray-400">
            <div class="flex-auto">
              <span class="font-bold text-black dark:text-white">Totale Uitgaven</span>
            </div>
            <div class="w-24 text-right">
              {{ expensesValue | currency:'EUR':'symbol-narrow':'1.2-2':culture }}
            </div>
            <div class="w-12">
              <div class="w-12 h-10">
                &nbsp;
              </div>
            </div>
          </div>
        </div>

        <div class="mt-4" *ngIf="!expenses || expenses.length === 0">
          <blockquote class="p-4 border-l-4 mx-2 border-gray-300 bg-gray-50 dark:border-gray-500 dark:bg-gray-800">
            <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-gray-200">
              Je hebt nog geen uitgaven toegevoegd aan je budget, voeg een uitgave categorie toe door op de knop
              'Uitgave toevoegen' te klikken.
            </p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>