<div class="w-full space-y-2 rounded-xl p-8 bg-white dark:bg-gray-800">
  <h1 class="text-4xl font-medium">Activa</h1>
  <p>
    Op het tablad 'Activa' geef je de huidige waarde van je grote bezittingen, je liquide middelen en je
    persoonlijke bezittingen in de weergegeven tabellen in. <br>
    Wijzig bestaande rijen of voeg nieuwe toe om je activa te beschrijven.
  </p>
  
  <br>

  <p>
    Het tablad activa bestaat uit 3 delen:
  </p>

  <ul>
    <li> - Grote/Vaste middelen (Voorbeelden: Huis, Auto)</li>
    <li> - Liquide middelen (Voorbeelden: Zichtrekening, Spaargelden, Investeringportefuile)</li>
    <li> - Persoonlijke bezittingen (Voorbeelden: MacBook, Antieke kast, trouwring)</li>
  </ul>
</div>