<div class="flex flex-col flex-auto w-full min-w-0">
  <div
    class="relative flex flex-0 items-center w-full h-16 sm:h-20 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent dark:border-gray-700 print:hidden">
    <div class="flex items-center lg:mr-4">
      <div class="hidden lg:flex">
        <img src="/assets/logo.svg" alt="Quickfin Logo"
          class="h-10 md:h-12 text-primary">
      </div>
      <img src="/assets/logo.svg" class="flex lg:hidden w-8">
    </div>
    <qf-horizontal-navigation class="mr-2"></qf-horizontal-navigation>
    <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
      <!-- <qf-languages></qf-languages> -->
      <qf-fullscreen></qf-fullscreen>
      <qf-search></qf-search>
      <!-- <qf-bookmarks></qf-bookmarks> -->
      <!---->
      <!-- <qf-messages></qf-messages> -->
      <!---->
      <qf-notifications></qf-notifications>
      <!---->
      <!-- <button class="lg:hidden">Y</button> -->
      <qf-account></qf-account>
    </div>
  </div>

  <div class="flex flex-col flex-auto w-full">
    <router-outlet></router-outlet>
  </div>

  <qf-footer
    class="relative flex flex-0 items-center w-full h-14 sm:h-20 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent dark:border-gray-700 print:hidden">
  </qf-footer>
</div>
