<div class="w-full p-8">
  <div class="flex flex-col flex-auto space-y-8">
    <blockquote class="p-4 border-l-4 border-gray-300 bg-gray-50 dark:border-gray-500 dark:bg-gray-800">
      <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-gray-200">
        Deze pagina beschikt over 3 tabs, overzicht, activa en passiva
      </p>
    </blockquote>

    <div class="flex flex-row space-x-4 border-b text-gray-400">
      <a class="font-medium border-b-2 px-3 py-1 border-transparent hover:text-white"
        routerLinkActive="border-accent text-gray-700 dark:text-white" [routerLinkActiveOptions]="{exact: true}"
        routerLink="/networth">
        Overzicht
      </a>

      <a class="font-medium border-b-2 px-3 py-1 border-transparent hover:text-white"
        routerLinkActive="border-accent text-gray-700 dark:text-white" [routerLinkActiveOptions]="{exact: true}"
        routerLink="/networth/assets">
        Activa
      </a>

      <a class="font-medium border-b-2 px-3 py-1 border-transparent hover:text-white"
        routerLinkActive="border-accent text-gray-700 dark:text-white" [routerLinkActiveOptions]="{exact: true}"
        routerLink="/networth/liabilities">
        Passiva
      </a>
    </div>
  </div>

  <div class="mt-4 flex-auto">
    <router-outlet></router-outlet>
  </div>
</div>