<div class="w-full space-y-2 rounded-xl p-8 bg-white dark:bg-gray-800">
  <h1 class="text-4xl font-medium">Passiva</h1>
  <p>
    Op het tablad 'Passiva' word je totale schuld berekend. <br>
    Wijzig de tabelrijen of voeg nieuwe rijen toe om je schulden te beschrijven.
  </p>
  
  <br>

  <p>
    Het tablad pasiva bestaat uit 2 delen:
  </p>

  <ul>
    <li> - Langlopende schulden (Voorbeelden: Hypotheek, Leasing)</li>
    <li> - kortlopende Schulden (Voorbeelden: Creditcard afrekening)</li>
  </ul>
</div>