<button type="menu" tabindex="1" [matMenuTriggerFor]="account"
  class="inline-flex border-0 items-center justify-center text-gray-400 w-10 h-10 rounded disabled:text-gray-700 disabled:bg-transparent hover:text-accent hover:bg-transparent">
  <div class="relative">
    <img class="w-7 h-7 rounded-full" loading="lazy" [src]="avatar" *ngIf="showAvatar">
    <i title="account" class="text-2xl far fa-user-circle" *ngIf="!showAvatar"></i>
    <span class="absolute right-0 bottom-0 w-2 h-2 rounded-full mr-px mb-px bg-green-500"></span>
  </div>

  <mat-menu #account class="bg-white shadow-xl border dark:bg-gray-900 dark:shadow-none">
    <ng-template matMenuContent>
      <div class="flex flex-col rounded">
        <div class="rounded p-4 text-sm dark:text-white">
          Ingelogd als {{ displayName }}
          <br>
          {{ email }}
        </div>
        <button class="rounded dark:text-white hover:bg-gray-100" mat-menu-item [routerLink]="['/profile']">Bekijk
          profiel</button>
        <button class="rounded dark:text-white hover:bg-gray-100" mat-menu-item (click)="logout()">Uitloggen</button>
      </div>
    </ng-template>
  </mat-menu>
</button>